.header {
	height: 16%;
}
.footer {
	height: 8%;
}
.main-content {
	height: 76%;
	overflow: auto;
}

.btn-toggle::before {
	width: 1.25em;
	line-height: 0;
	content: '\f105';
	font: var(--fa-font-solid);
	transition: transform 0.35s ease;
}

.btn-toggle[aria-expanded="true"]::before {
	transform: rotate(90deg);
}

.collapse-list li a:hover {
	background-color: white;
	color: green !important;
}

.toggle-password {
	width: 48px;
	cursor: pointer;
}

.error {
	color: red;
}